.eventHeading{
    text-align: center;
    margin-top: 50px;
    text-decoration:underline;
    font-size: 2rem;
    color: rgb(92, 96, 100);
}
.eventcardsContainer{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 0 20px;       
        margin-left: 50px;
        margin-right: 50px;
        /* .item {
          flex: 1;
          margin: 0 10px;     
        } */
}
.grayLine {
    width: 100%;        
    border: none;      
    height: 2px;       
    background-color: gray;   
    margin: 0;          
}
.packageCardContainer {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line if they exceed the container's width */
  gap: 10px; /* Adds space between items (you can adjust the value) */
  justify-content: space-between; /* Distributes items with space between them */
  align-items: flex-start; /* Aligns items at the start of the container's cross-axis */
}
